@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
  --bg-color:#B88A73;
  --border-color:#6D3D15;
  --primary-color:#CBBDB0;
  --secondary-color:#FAEFD9;
  --header-card:#BD8442;
  --h1-color:#754631;
  --title-color:#925B21;
  --text-color:#B98063;
  --White:#FFFFFF;
  --Blakc:#000000;
  --folder-bg:#CF966B;
  --folder-f-color:#A56A49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  font-family: "Itim", cursive;
  overflow: hidden;
}

h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--title-color);
}

h3 {
  color: var(--title-color);
}

p {
  font-size: 15px;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

textarea {
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
}

.decoder_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(0deg, -6deg) rotateY(45deg);
  height: 500px;
  width: 400px;
  background-color: var(--secondary-color);
  border-radius: 0.6rem;
  border: 2px solid var(--border-color);
  cursor: grab;
  user-select: none;
  transition: 0.1s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.decoder_card .card_title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.decoder_card.grabbing {
  cursor: grabbing;
}
.decoder_card.maximized {
  height: 600px;
  width: 600px;
}
.decoder_card.maximized .card_highlite:nth-child(2) {
  transform: translateX(450%);
}
.decoder_card.maximized .logo {
  top: 35%;
}
.decoder_card.rotated {
  transform: translate(-50%, -50%) skew(0deg, 0deg) rotateY(0deg);
}

.card_header {
  background-color: var(--header-card);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid var(--border-color);
}
.card_header .icons {
  display: flex;
  gap: 10px;
}
.card_header .icons .icon {
  cursor: pointer;
}

.card_content {
  background-color: var(--primary-color);
  height: 100%;
}
.card_content .card_content_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card_content .card_content_title i {
  font-size: 30px;
  color: var(--text-color);
}
.card_content .card_highlite {
  margin-top: 2rem;
  background-color: var(--secondary-color);
  padding: 5px 20px;
  border: 1px solid var(--text-color);
  transform: translateY(-100%);
  width: fit-content;
}
.card_content .card_highlite span {
  letter-spacing: 4px;
  color: var(--h1-color);
}
.card_content .card_highlite:nth-child(2) {
  transform: translate(260%, -60%);
}
.card_content .logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  user-select: none;
}

.cart_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: url("./../assets/animated/cat-gif.gif") center/cover;
  padding: 10px;
}
.cart_text .btns button {
  border: 1px solid var(--White);
  color: var(--White);
  padding: 5px 13px;
  letter-spacing: 2px;
  transition: 0.7s;
}
.cart_text .btns button:hover {
  background-color: var(--White);
  color: var(--Black);
}
.cart_text textarea {
  border: 2px solid var(--White);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--White);
  padding: 10px;
}

.message_decoder {
  position: absolute;
  top: 25%;
  right: 10%;
  transform: translate(-50%, -50%) skew(0deg, -6deg) rotateY(45deg);
  transition: 0.1s;
  cursor: grab;
  height: 300px;
  width: 250px;
  border: 2px solid var(--border-color);
  border-radius: 0.7rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  user-select: none;
  overflow: hidden;
}
.message_decoder .card_header .icons .icon {
  width: 20px;
}
.message_decoder .message_content {
  height: 73%;
  background: url("./../assets/duck-image.jpg") center/cover;
  opacity: 0.8;
  padding: 10px;
  overflow: hidden;
}
.message_decoder .message_content textarea {
  height: 100%;
  width: 100%;
  color: var(--Black);
  font-weight: bold;
}
.message_decoder .message_footer {
  background-color: var(--header-card);
  height: 50%;
  width: 100%;
  border-top: 2px solid var(--border-color);
}
.message_decoder .message_footer button {
  padding: 9px 20px;
  border: 1px solid var(--border-color);
  overflow: hidden;
  transition: 0.8s;
}
.message_decoder .message_footer button .copied {
  display: none;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
}
.message_decoder .message_footer button .copied i {
  font-size: 15px;
}
.message_decoder .message_footer button.active .copy {
  display: none;
}
.message_decoder .message_footer button.active .copied {
  display: block;
}
.message_decoder .message_footer button:hover {
  background-color: var(--border-color);
  color: var(--White);
}
.message_decoder .message_footer .gif_panda {
  position: absolute;
  right: 0;
  bottom: 0;
}
.message_decoder.grabbing {
  cursor: grabbing;
}
.message_decoder.maximized {
  height: 400px;
  width: 350px;
}
.message_decoder.maximized .message_footer {
  height: 17%;
}
.message_decoder.maximized .message_footer button {
  padding: 25px 20px;
}
.message_decoder.rotated {
  transform: translate(-50%, -50%) skew(0deg, 0deg) rotateY(0deg);
}

@media (max-width: 768px) {
  .message_decoder {
    height: 280px;
    width: 180px;
    top: 25%;
    right: -20%;
  }
}
.warning_message {
  border: 1px solid var(--border-color);
  height: 150px;
  width: 250px;
  border-radius: 0.5rem;
  overflow: hidden;
  position: absolute;
  bottom: 0%;
  left: 35%;
  transform: translate(-50%, -50%) skew(0deg, -6deg) rotateY(45deg);
  cursor: grab;
  transition: 0.1s;
  user-select: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.warning_message .card_header .icons .icon {
  width: 18px;
}
.warning_message .message {
  background-color: rgba(203, 189, 176, 0.6274509804);
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.warning_message .message p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #e73030;
}
.warning_message.grabbing {
  cursor: grabbing;
}
.warning_message.maximized {
  height: 250px;
  width: 350px;
}
.warning_message.maximized .message p {
  font-size: 30px;
}
.warning_message.rotated {
  transform: translate(-50%, -50%) skew(0deg, 0deg) rotateY(0deg);
}

@media (max-width: 768px) {
  .warning_message {
    height: 150px;
    width: 190px;
    bottom: 0%;
    left: 20%;
  }
}
.screen_load {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #E5D3C2;
  display: grid;
  place-content: center;
  animation: loadscreen 3s ease-in-out forwards;
}
.screen_load .load {
  height: 50vh;
  width: 40vw;
  background: url("./../assets/animated/load-gif.gif") center/cover;
}

@keyframes loadscreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.folder {
  background-color: var(--folder-bg);
  height: 60px;
  width: 70px;
  border-radius: 5px;
  position: absolute;
  top: 10%;
  left: 30%;
  cursor: pointer;
  transform: skew(0deg, -6deg) rotateY(45deg);
  z-index: -1;
  animation: folder 7s ease-in-out forwards;
  user-select: none;
}
.folder .folder_front {
  background-color: var(--folder-f-color);
  height: 58px;
  width: 70px;
  position: absolute;
  bottom: 0;
  transition: 0.7s;
}
.folder .folder_front:nth-child(2) {
  background-color: var(--folder-f-color);
}
.folder::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 20px;
  border-radius: 10px;
  background-color: var(--folder-bg);
  top: -7%;
  left: 0;
}
.folder:hover .folder_front {
  transform: translate(-8%, 20%) skew(16deg) scaley(0.6);
}
.folder:hover .folder_front:nth-child(2) {
  transform: translate(8%, 20%) skew(-16deg) scaley(0.6);
}

@keyframes folder {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .folder {
    display: none;
  }
}
.sidebar {
  height: fit-content;
  width: fit-content;
  border: 1px solid var(--White);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  cursor: grab;
  position: absolute;
  top: 30%;
  left: 7%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.sidebar i {
  color: var(--White);
}
.sidebar .logo i {
  font-size: 30px;
}
.sidebar .cards_icons {
  height: 100%;
  text-align: center;
}
.sidebar .cards_icons .icone_icon {
  background-color: rgba(255, 255, 255, 0.1725490196);
  padding: 10px 8px;
  border-top: 1px solid var(--White);
  margin-bottom: 1rem;
  cursor: pointer;
}
.sidebar .cards_icons .icone_icon .minimized_bar_decode,
.sidebar .cards_icons .icone_icon .minimized_bar_decrypt,
.sidebar .cards_icons .icone_icon .minimized_bar_warning {
  display: none;
  background-color: var(--White);
  height: 3px;
  width: 10px;
  border-radius: 1rem;
  animation: bar 0.2s ease-in;
}
.sidebar .cards_icons .icone_icon .minimized_bar_decode.minimized,
.sidebar .cards_icons .icone_icon .minimized_bar_decrypt.minimized,
.sidebar .cards_icons .icone_icon .minimized_bar_warning.minimized {
  display: block;
  transform: translateX(3px);
}
.sidebar .cards_icons .warning_icon {
  display: none;
}
.sidebar .cards_icons .decode_icon {
  display: none;
}
.sidebar .cards_icons .decrypt_icon {
  display: none;
}
.sidebar .cards_icons .rotate_icon {
  transition: 0.6s;
}
.sidebar .cards_icons .rotate_icon.rotated {
  border-bottom: 2px solid var(--White);
}

@keyframes bar {
  0% {
    width: 0px;
  }
  100% {
    width: 10px;
  }
}
.btn_more {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-content: center;
  transition: 1s 0.5s;
}
.btn_more a {
  color: var(--White);
  padding: 1rem 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn_more::after, .btn_more::before {
  position: absolute;
  content: "";
  background-color: var(--White);
  transition: 0.5s;
}
.btn_more::after {
  height: 1px;
  width: 0%;
  right: 0;
  top: 0;
}
.btn_more::before {
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.btn_more:hover::after {
  width: 100%;
}
.btn_more:hover::before {
  width: 0%;
}
.btn_more:hover {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/*# sourceMappingURL=style.css.map */
