.btns{
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    gap: 3rem;
    button{
        color: var(--text-primary);
        letter-spacing: 3px;
        font-size: 2vw;
        position: relative;
        padding: 5px 10px;
        transition: 0.5s 0.7s;

        &::after, &::before{
            content: "";
            position: absolute;
            height: 1px;
            width: 0;
            border-radius: 5px;
            transition: 0.5s;
            background-color: var(--White);
        }
        &::after{
            left: 0;
            top: 0;
        }
        
        &::before{
            right: 0;
            bottom: 0;
        }
        &:hover::after, &:hover::before{
            width: 100%;
        }
        &:hover{
            background-color: var(--White);
            color: var(--text-secondary);
        }
    }
   
}

@media (max-width:768px) {
    .btns{
        button{
            font-size: 3vw;
        }
    }
}