.decoder_card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) skew(0deg, -6deg) rotateY(45deg);
    opacity: 0.8;
    height: 500px;
    width: 400px;
    background-color: var(--secondary-color);
    border-radius: 0.6rem;
    border: 2px solid var(--border-color);
    transition: 0.7s;
    overflow: hidden;

    .card_title{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
}
.decoder_card:hover{
    opacity: 1;
}