:root{
    --bg-color:#E9DCD6;
    --text-primary:#664242;
    --side-bar:#746770;
    --text-secondary:#D0BCB1;
    --White:#FFFFFF;
    --Red:#F24E1E;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: var(--bg-color);
    font-family: "Lato", sans-serif;
    overflow: hidden;
}

p{
    font-size: 15px;
    color: var(--text-secondary);
    text-align: justify;
}

button{
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
textarea{
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
}