.message_warning{
    position: fixed;
    top:5%;
    right:-5%;
    transform: translate(-50%,-50%);
    background-color: #f24f1e19;
    display: flex; 
    align-items: center;
    gap: 2rem;
    padding: 10px 14px;
    border: 1px solid var(--Red);

    i{
        color: var(--Red);
        font-size: 30px;
    }
    .ri-close-fill{
        cursor: pointer;
        transition: 0.5s;
        font-size: 20px;
    }
    .ri-close-fill:hover{
        transform: rotate(40deg);
    }
    span{
        color: var(--Red);
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 14px;
    }
}
@media (max-width:1024px) {
    .message_warning{
      top: 30%;
      right: 0%;
    }
}

@media (max-width:768px) {
    .message_warning{
      top: 50%;
      right: 0%;
      height: 200px;
      width: 200px;
      flex-direction: column;

      span{
          text-align: center;
      }
      
    }
}

@media (max-width:425px) {
    .message_warning{
        top: 50%;
        right: -10%;
    }
}