.sidebar{
    height: fit-content;
    width: fit-content;
    border: 1px solid var(--White);
    background: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.5rem;
    cursor: grab;
    position: absolute;
    top: 30%;
    left: 7%;
    transform: translate(-50%,-50%);
    user-select: none;

    i{
        color: var(--White);
    }

    .logo{
        i{
            font-size: 30px;
        }
    }

    .cards_icons{
        height: 100%;
        text-align: center;


        .icone_icon{
            background-color: #ffffff2c;
            padding: 10px 8px;
            border-top: 1px solid var(--White);
            margin-bottom: 1rem;
            cursor: pointer;

            
            .minimized_bar_decode, .minimized_bar_decrypt, .minimized_bar_warning{
                display: none;
                background-color: var(--White);
                height: 3px;
                width: 10px;
                border-radius: 1rem;
                animation: bar 0.2s ease-in ;

                &.minimized{
                    display: block;
                    transform: translateX(3px);
                }
        }

        }
        .warning_icon{
            display: none;  
            
        }
        .decode_icon{
            display: none;
        }
        .decrypt_icon{
            display: none;
        }
    }
  
}
@keyframes bar {
    0%{
        width: 0px;
    }
    100%{
        width: 10px;
    }
}